.nav {
  position: fixed;
  bottom: 0mm;
  width: 100%;
  padding: 30px 40px;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__link {
  position: relative;
  color: white;
  margin-bottom: 10px;
}
